<!--NavBar2-->
<nav class="p-1 navbar bg-white justify-content-center">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " routerLinkActive="active" routerLink="home">OVERVIEW</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLinkActive="active" routerLink="user/Dreyintor55/posts">POSTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="user/Dreyintor55/comments">COMMENTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="user/Dreyintor55/saved">SAVED</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="user/Dreyintor55/hidden">HIDDEN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="user/Dreyintor55/upvoted">UPVOTED</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="user/Dreyintor55/downvoted">DOWNVOTED</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="user/Dreyintor55/gilded">AWARDS RECIEVED</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="user/Dreyintor55/gilded/given">AWARDS GIVEN</a>
          </li>
        
      </ul>
</nav>