<!--NavBar2-->
<nav class="p-1 navbar bg-white justify-content-center">
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active text-primary" href="#">OVERVIEW</a>
        </li>
        <li class="nav-item text-black">
          <a class="nav-link text-black" href="#">POSTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-black" href="#">COMMENTS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black" href="#">SAVED</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">HIDDEN</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">UPVOTED</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">DOWNVOTED</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">AWARDS RECIEVED</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black" href="#">AWARDS GIVEN</a>
          </li>
        
      </ul>
</nav>