.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: small;
    color: rgb(75, 71, 71);
}

.camerabutton{
    background-color: white;
    border: 1px solid blue;
    border-color: blue;
    color: blue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0px;
    margin: none;
    border-radius: 50%;
}

.bluebackground{
    background-color: rgb(55, 192, 247);
}

.avatarbutton{
    background-image: linear-gradient(to right, red , orange);
    border: none;
    color:white;
    font-weight: 500;
    border-radius: 25%;
    width: 100%;
}
.nav-pills .nav-link {
    background-image: linear-gradient(to right, red , orange);
    border-radius: 25px;
    font-weight: 500;
    padding: 5px;
}

.nav-pills1 .nav-link {
    background-color:rgb(50, 121, 187);
    color:whitesmoke;
    border-radius: 25px;
    font-weight: 500;
    padding: 5px;
}
.bstext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size: 14px;
    color: rgb(51, 49, 49);
}

.nav-pills2 .nav-link {
    border-radius: 25px;
    padding: 4px;
    font-weight: 600;
}
.nav-pills2 .nav-link:hover {
    background-color: rgb(212, 210, 204);
}
.nav-pills2 .nav-link:active {
    background-color: rgb(170, 169, 167);
}