<div class = "row">&nbsp;</div>
    <div style="width:1%; display:inline-block;"></div>
    <div class="align-top" style="width:79%; display:inline-block;">
       
    </div>
    <div style="width:1%; display:inline-block;"></div>
    <div style="width:19%; display:inline-block;">
        <app-body-component2>Loading</app-body-component2>
        <div class = "row">&nbsp;</div>
        <app-body-component3>Loading</app-body-component3>
        <div class = "row">&nbsp;</div>
        <app-body-component4>Loading</app-body-component4>
        <div class = "row">&nbsp;</div>
        <div class="nav nav-pills1">
            <li class="d-flex justify-content-center container-fluid nav-item" style="text-align: center;">
                <a class="nav-link active" aria-current="page" href="#"> 
                    Back To Top
                </a>
            </li>
        </div>
    </div>

<div class = "row">&nbsp;</div>
