
<div class = "row">&nbsp;</div>
    <div style="width:25%; display:inline-block;">

    </div>

    <div class="align-top" style="width:35%; display:inline-block;">
        <!--Input form here-->
        <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
            <div class="input-group">
                <span class="input-group-text">Post Title</span>
                <input type ="text" id= "title" class ="form-control" ngModel name="title">
            </div>
            <div class="input-group">
                <span class="input-group-text">Image URL</span>
                <input type ="text" id= "imgPath" class ="form-control" ngModel name="imgPath">
            </div>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">r/</span>
                <input type="text" class="form-control" placeholder="Subreddit" aria-label="Subreddit" aria-describedby="basic-addon1" ngModel name="subreddit">
            </div>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon2">u/</span>
                <input type="text" class="form-control" id="poster" placeholder="Username" aria-label="Username" aria-describedby="basic-addon2" ngModel name="poster">
            </div>
            <div class="text-end">
                <button class="btn btn-primary" style="width: 150px;" type="Submit">
                    Post
                </button>
            </div>
        </form>
        
    </div>    
   
    <div style="width:1%; display:inline-block;">
        <div>
            
        </div>
    </div>
    
    <div style="width:15%; display:inline-block;">
        <app-body-component2>Loading</app-body-component2>
        <div class = "row">&nbsp;</div>
        <app-body-component3>Loading</app-body-component3>
        <div class = "row">&nbsp;</div>
        <app-body-component4>Loading</app-body-component4>
        <div class = "row">&nbsp;</div>
        <div class="nav nav-pills1">
            <li class="d-flex justify-content-center container-fluid nav-item" style="text-align: center;">
                <a class="nav-link active" aria-current="page" href="#"> 
                    Back To Top
                </a>
            </li>
        </div>
    </div>

<div class = "row">&nbsp;</div>